.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 8px;
}

.title {
    padding: 0;
    font-size: 48px;
    margin-bottom: 8px;
}

label {
    margin-bottom: 4px !important;
}

.error {
    color: #d71f1f;
}
