.background {
    z-index: -9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
